[Unit]
Description=Nexa Full Node Daemon
After=network.target

[Service]
User=nexa
Group=nexa

Type=forking
PIDFile=/home/nexa/.nexa/nexa.pid
ExecStart=/home/nexa/nexa/bin/nexad -conf=/home/nexa/.nexa/nexa.conf -daemon
ExecStop=/home/nexa/nexa/bin/nexa-cli -conf=/home/nexa/.nexa/nexa.conf stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
